page-home {

  button {
    margin: 0 !important;
  }

  ion-footer button, ion-refresher-content, .fixed-content, ion-item-options button {
    background-color: #0d335f !important;
  }

  ion-item-options {
    border-bottom: #0d335f !important;
    button ion-icon {
       font-size: 1.5em;
       margin-left: 10px;
       margin-right: 10px;
     }
  }

  ion-item {
    position: relative;
    button {
      background-color: transparent;
      position: absolute;
      right: 10px;
      top: 0;
      bottom: 0;
      ion-icon {
        font-size: 1.5em;
      }
    }
    .item-inner {
      border-bottom-color: #0d335f !important;
    }
  }

  .list > .item-wrapper:last-child .item-block {
    border-bottom-color: #0d335f !important;
  }

  .list > .item-block:first-child {
    border-bottom-color: #0d335f !important;
  }

  .toolbar-background {
    background-color: #0d335f;
  }

  .fab {
    background-color: #0d335f;
    ion-icon {
      font-size: 2.5em;
      font-weight: bold;
    }
  }
  .title {
    padding-left: 16px;
    .toolbar-title {
      padding-left: 0;
      text-align: left;
      color: white;
    }
  }

  .refresher-pulling-icon, .refresher-pulling, .refresher-refreshing-icon {
    color: white;
    circle {
      stroke: white !important;
    }
  }
  .spinner {
    display: block;
    margin: auto;
    color:  #183782 !important;
  }
  .name {
    color: #183782;
    font-weight: bold;
  }
  .mac {
    color: #575656;
    margin-top: 3px;
  }
}
